section#corpo {
	display: block;
	width: auto;
    border-right: none;
}

section#corpo h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}